/* Font: Roboto
Farben: #0b0c17 / #ff3571 / #dddddd / #3C30FF / #FFF / #000 */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,500&display=swap');
/* font-family: 'Roboto', sans-serif; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #0b0c17 ;
    font-family: 'Roboto', sans-serif;
    line-height:2em;
}
/* =======HEADER======= */
header{
    background: url(../img/ilustracion1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position:right;
    height: 100vh;
    border-style: double;
    position: relative;
}
header svg:nth-of-type(1){
    width: 2em;
    height: 2em;
    position: fixed;
    margin-left: 1em;
}
header img:nth-of-type(1){
    width: 50%;
    border-style: dotted;
    display: inline-block;
    margin: 0% 30% 30% 40%;
    position: absolute;
}
header p:nth-of-type(1){
    margin-left: 4em;
    font-weight: bold;
}
header p:nth-of-type(2){
    font-size: smaller;
    margin-left: 5em;
    font-weight: lighter;
}
header h1{
    margin-left: 2em;
    width: 30%;
    padding-top: 4em;
    border-style: solid;
    font-size: 2.8em;
}
header p:last-of-type{
    width: 40%;
    margin-left: 4.5em;
    border-style: ridge;
    font-size: 1.25em;
    padding: 1em 0;
    font-weight: lighter;
}
header a{
    padding: 3em 0 0 0;
    text-decoration: none;
    text-transform: uppercase;
    color: #ff3571;
    display: inline-block;
    margin-left: 6em;
}
header a::after{
    content: "";
    display: inline-block;
    background-color: #ff3571;
    height: 2px;
    width: 1em;
    position: relative;
    bottom: 5px;
    left: 3px;
}
/* ========MAIN-PAERT1========0 */
main img{
    display: inline-block;
    width: 100%;
    height: 100vh;
    margin: 6em 0;
}
/* ========Paragraph1====== */
.part1{
    display: flex;
    justify-content:space-around;
    align-items:baseline;
    width: 60%;
    border-style: solid;
    margin: 0 auto;
}
.part1 div{
    display: flex;
    flex-wrap: wrap;
    border-style: dotted;
    justify-content: start;
}
.part1 img{
    width: 3em;
    height: 3em;
    border-style: ridge;
}
.part1 h1{
    font-size: 2em;
    /* padding-right: 2em;  */
}
.part1 p{
    font-size: 1,25em;
    font-weight: lighter;
}
.part1 p{
    width: 75%;
}
main article:first-of-type h1{
    font-size: 2em;
    padding-top: 2em;
    padding-left: 20%;  
    width: 50%;
}
/* ========Paragraph2====== */
.part2{
    display: flex;
    justify-content:space-between;
    width: 60%;
    border-style: solid;
    margin: 0 auto;
    flex-wrap: wrap;
    font-size: 1.25em;
    padding: 3em 0;
    font-weight: lighter;
}
.part2 div{
    width: 50%;
    border-style: groove;
    padding-bottom: 3em;
    padding-right: 2em;
    display: flex;
    align-items: baseline;
}
.part2 div img{
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
}
.part2 div p{
    padding-left: 1em;
}
.part2 div p::first-line{
    font-weight: bold;
}
.question{
    width: 50%;
    margin: 0 auto;
    border-style: solid;
    text-align: center;
}
.question h1{
    font-size: 2em;
    padding-top: 2em;
}
.question p{
    font-size: 1.25em;
    padding: 1em 0;
    font-weight: lighter;
}
/* .part2 div:first-of-type ::before{
    content: url("./assets/img/title01.svg");
    width: 2em;
    height: 2em;
    display: inline-block;
} */
/* ======Main-STEP1=======*/
.stepOdd {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:flex-start;
}

.stepOdd h1{
    font-size: 4em;
    color: #dddddd ;
    border-style: double;
    padding-left: 2em;
}
.imgOdd{
    width: 35%;
    border-style: double;
}
.stepOdd p{
    font-size: 1.25em;
    font-weight: lighter;
    padding-left: 7em;
}
.stepOdd p:nth-of-type(1){
    font-weight: bold;
}

/* .divStepOdd{
    width: 30%;
    border-style: dotted;
} */
.stepOdd div{
    width: 50%;
    border-style: dotted;
    margin-top: 8em;
}
.iconOdd{
    width: 3em;
    height: 3em;
    border-style: double;
    margin-left: 8em;
}
/* ======Main-STEP2=======*/
.stepEven {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:flex-start;
}
.stepEven div {
    order: -1;
    width: 40%;
    border-style: dotted;
    margin-top: 8em;
    margin-right: 8em;
}
.iconEven{
    width: 3em;
    height: 3em;
    border-style: double;
}
.stepEven h1{
    font-size: 4em;
    color: #dddddd ;
    border-style: double;
}
.stepEven p:nth-of-type(1){
    font-weight: bold;
}
.stepEven p{
    font-size: 1.25em;
    font-weight: lighter;    
}
.imgEven{
    width: 35%;
    border-style: double;
}

/* ======Main-STEP3=======*/

/* ======Main-STEP4=======*/